html {
    font-size: 14px;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-image: url('../images/mountain-range-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 -1px;
    padding-bottom: 5%;
}

#intro {
    display: flex;
    width: 60%;
    padding: 5%;
}
.instructions {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
    font-style: italic;
}
.bold.instructions {
    font-weight: 600;
    font-style: normal;
}

/* MAIN */

main {
    text-align: center;
}
#forest-line {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 3rem auto;
}
#start {
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    background-color: rgb(252, 144, 72);
    color: #ffffff;
    padding: 1.3rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* FOOTER */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0.5rem 1.5rem;
}
#copyright {
    font-size: 1rem;
    font-weight: 100;
}